// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


@font-face {
    font-family: 'icomoon';
    src: url("../../../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../../../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../../../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../../../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../../../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
a{
	text-decoration: none;
}

.header-div{
    border-bottom:1px solid #b3b3b3 ;
    padding: 10px 0px;
}
ul{
    list-style-type: none;
   /* color: #b3b3b3;*/
}
.header-li{
    padding:10px 10px;

    display: inline-block;
}
.header-li a{
    color: #b3b3b3;
    font-size: 16px;
}

.log-btn{

    border: 2px solid #b3b3b3;
    border-radius: 10px ;
    color: #b3b3b3;
    padding: 5px 15px;
    font-size: 17px;
    margin-left: 17px;

}
.list-div{
    display: inline-block;
    width: 50%;

}
.logo{
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    padding-top: 13px;
   font-weight: bold;
    font-family: "Kaushan Script", cursive !important;
}

.logo a{
    color: #0FB1B3;
    text-decoration: none;

}

.container-fluid{
	
	width: 100%;
	  max-width: 100%;
	  margin: auto;

}
.container{
	 margin: auto; 
	
	width: 90%;
	  max-width: 90%;
	 

}
.float-right{
	float: right;

}
.float-left{
float: left;
}
.clearfix{
clear: both;
}
.list-small{
     position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 44px;
   right: 15px;
    padding-left: 24px;
    width: 119px;
}
.menu-icon{
    color: #b6b2ac;
    font-size: 36px;
    display: none;
    padding-top: 10px;
}
.footer-title{
    color:white;
    font-size: 18px;
    padding-top: 25px;
}
@media screen and (max-width: 774px) {
 .list-div  {
    display: none; 
  }
  .menu-icon{
   
    display: inline-block;
}
.header-li{
    display: block;
}
}
