
.custom-icon-down{
	font-size: 30px;
color: white;
position: absolute;
left: 82px;
top:5px;

}

.custom-icon-up{
		font-size: 30px;
color: white;
position: absolute;
left: 82px;
top: -7px;

}
.canvas-div{

	 display: inline-block;
	
	 width: 100%;
	/*position: relative;*/
	
	
	 overflow-x: auto;
	 border: 2px solid #b3b3b3;
	 border-radius: 17px;
	 border-top-left-radius: 0px;
	 border-top-right-radius: 0px;
}
.center-div{
 display: inline-block;
	
	 width: 55%;
	 margin: 0px 5%;
 margin-top: 15px; 

}

   .action-bar{

   /*	position: absolute;*/
   	width: 100%;
   	max-width: 100%;
   	background-color:#0FB1B3;
   	height: 47px;
   /*	opacity: 0.6;*/
   	left: 0px;
   	top: 0px;
   	 border-top-left-radius: 17px;
	 border-top-right-radius: 17px;
	 padding-left: 10px;
	 padding-right: 10px;

   }
   .action-block{
   	display: inline-block;
   	width: 40px;
   	height: 37px;
   	background-color: white;
    position: relative;
   	background-position: center;
   	background-repeat: no-repeat;
   	background-size: contain;
   	border-radius: 10px;
   	margin: 5px 10px;
   }
   .action-block-lable{
   	position: absolute;
   	background-color: #b3b3b3;
   	width:100%;
   	height: 15px;
   	bottom: 0px;
   	left: 0px;
   	border-bottom-left-radius: 10px;
	 border-bottom-right-radius: 10px;
	 color: white;
	 font-size: 11px;
	 text-align: center;

   }
.side{
	display: inline-block;
	height: 480px;
	width: 17%;
	border:2px solid #b3b3b3;
	 margin-top: 42px; 
	border-radius: 17px; 
	overflow: auto; }

.obj-container{
	margin: auto;
	margin-top: 20px;
	margin-bottom:20px; 
	width: 70%;
}
.objt{
	width: 100%;
	height: 100px;
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	border-radius: 16px; 
	position: relative;
	margin-top: 10px;
	margin-bottom: 25px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.obj_img{
	width: 100%;
	height: 100px;
}
.right-side{
	background-color: #0FB1B3;
}

.obj-label{
	display: inline-block;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color:#0FB1B3;
	color: white;
	border-bottom-right-radius: 16px;
	 border-bottom-left-radius: 16px; 
	 text-align: center;
	 padding-top: 5px;
	 font-weight: 700;

}

.arrow{
	position: absolute;
	color: white;
	display: inline-block;
	width: 70px;
	height: 70px;
	top:-5px;
	left: -5px;
	background-image: url('../../assets/imgs/ar4.png');
	background-size: contain;
	background-repeat: no-repeat;

}
.arrow1{
	position: absolute;
	color: white;
	display: inline-block;
	width: 70px;
	height: 70px;
	top:-24px;
	left: -44px;
	background-image: url('../../assets/imgs/ar4.png');
	background-size: contain;
	background-repeat: no-repeat;

}
.arrow-obj{
	color: white;
	
	font-size: 17px;

}
.main{
	display: inline-block;
	width: 80%;
	position: relative;
	padding-top: 20px;
	padding-left: 40px;

}
.main1{
	margin-left: 60px;
	position: relative;
margin-bottom:7px; }

.main2{
	margin-left: 70px;
	position: relative;
margin-bottom:7px; }

::-webkit-scrollbar {
    width: 5px;

}
::-webkit-scrollbar:horizontal{
	height: 5px;
	width: 480px;

}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 20px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: #b3b3b3;

   /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}




    .slick-slide {
        opacity: 1;
    }
    .slick-current {
        opacity: 1 !important;
    }
    .slick-dots li button:before  {
        font-size: 0px !important;
    }

    /*slick-prev */
.slick-prev{
	left: -15px;
	

}
.slick-next{
	right: -14px;
	
	
}
   .slick-arrow{
   	color: black;
   }

   .text-part{
   	 	display: inline-block;
   	color: white;
   	font-size: 17;
   	text-align: center;
   	padding-left: 20%;
   	margin-top: 20px;


   }
   .create-icon{
   	color: white;
   	font-size: 17;
   	text-align: center;
   }


   .right-side-btn{
      width: 100px;
      max-width: 70%;
      margin:auto;
      color: white;
      font-size: 18px;
      border:2px solid white;
      margin-top: 20px;
      padding:5px 10px;
      border-radius: 16px;
      text-align: center;

   }

   .time-test{
   	width: 50%;
   	margin: auto;
   	margin-top: 30px;
   	padding-left: 10%
   }

   .time{
   	font-size: 20px;
   	font-weight: 800;
   	color: white;
   	padding: 40px 10px 10px 10px ;
   }
   .test{
   	color: white;
   	font-size: 20px;
   	font-weight: 800;
	padding: 
	 10px ;
   }

